/* global */
body {
  width: 1000px;
  margin: 0 auto;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

.main-navigation__list,
.catalog-list,
.footer__media-list, 
.footer__info-list,
.popup-cart__list,
.breadcrumbs__list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255,255,255, 0.4);
  cursor: pointer;
}

.button {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fefefe;

  border: 0;
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);

  padding: 15px 20px;
}

.button:hover {
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px #ac1000;
  background-color: rgba(255, 255, 255, 0.2);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.button:active {
  box-shadow: inset 0 2px 2px #942718;
  background-color: rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.input {
  font-size: 16px;
  line-height: 24px;
  color: #999999;

  border-radius: 10px;

  padding-left: 15px;
}

.visually-hidden {
  display: none;
}

/* for both pages */

.main-navigation {
  font-weight: 500;
  line-height: 16px;

  display: flex;
  justify-content: space-between;

  margin-top: 30px;
}

.main-navigation__container {
  display: flex;
  align-items: center;
}

.main-navigation__list {
  display: flex;
  align-items: center;
}

.main-navigation__item {
  margin-right: 25px;
}

.main-navigation__home-link {
  border-bottom: none;
}

.user-navigation {
  font-size: 14px;

  display: flex;
  align-items: center;
}

.user-navigation .link {
  border-bottom: none;
}

.user-navigation__search-image-container {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgb(160,181,169);

  margin-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.user-navigation__search-image-container:hover {
  background-color: #f8f7f4;
}

.user-navigation__login-container {
  width: 91px;
  height: 32px;
  margin-right: 10px;
  border-radius: 17px 17px 17px 17px;
  background-color: rgb(160,181,169);

  display: flex;
  align-items: center;
  justify-content: center;
}

.user-navigation__login-container:hover {
  background-color: #f8f7f4;
  color: #323232;
}

.user-navigation__login-image {
  margin-right: 5px;
}

.user-navigation__cart-container {
  width: 99px;
  height: 32px;
  border-radius: 17px 17px 17px 17px;
  background-color: rgb(160,181,169);

  display: flex;
  align-items: center;
  justify-content: center;
}

.user-navigation__cart-container:hover {
  background-color: #f8f7f4;
  color: #323232;
}

.user-navigation__cart-image {
  margin-right: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer__container {
  display: flex;
}

.footer__media-list {
  display: flex;
}

.footer__media-item {
  margin-right: 5px;
}

.footer__media-item a {
  text-decoration: none;
}

.footer__media-logo {
  border: 3px solid rgb(173, 189, 180);
  border-radius: 50%;
}

.footer__info-list {
  font-size: 13px;

  display: flex;
  flex-wrap: wrap;
  width: 250px;
}

.footer__info-item_important {
  font-weight: 700;
}

.footer__info-item {
  margin-left: 20px;
}

.footer__credintials {
  margin-top: 25px;
}

.footer__credintials-info {
  margin-top: 5px;
}

.footer__credintials a {
  border-bottom: none;
}

.footer__credintials span {
  text-decoration: underline;
}

/* INDEX */

.seo {
  border-radius: 15px;

  color: #323232;

  background-image: url("../img/waffel.png");

  border-top: 1px solid transparent;
}

.seo__header {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;

  margin: 25px;
  margin-top: 25px;
}

.seo__content {
  display: flex;
  flex-wrap: wrap;
}

.seo__item {
  display: flex;
  flex-basis: 400px;
  margin-left: 20px;
}

.seo__image {
  flex-basis: 49px;
  margin-right: 10px;
}

.news {
  display: flex;
  margin-top: 30px;
}

.news__blog {
  border-radius: 30px;

  color: #323232;

  background-image: url("../img/berry.png");
  background-position-x: -123px;
  background-position-y: -225px;

  width: 560px;
  margin-right: 20px;
}

.news__header {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;

  margin: 25px;
}

.news a {
  font-size: 24px;
  font-weight: 700;
  color: #323232;

  border-bottom: 2px solid #323232;

  margin-left: 25px;
}

.news__newsletter {
  border-radius: 30px;

  color: #323232;

  background: url("../img/bg-post.svg") no-repeat;
  background-size: cover;

  width: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news__newsletter-container {
  display: flex;
  align-items: center;
}

.news__input-button {
  margin: 0 10px;
}

.news__newsletter-description {
  margin: 25px;
}

.news__background {
  background-color: #f8f7f4;
  border-radius: 30px;

  height: 212px;
  margin: 4px;
}

.news__newsletter-input {
  height: 43px;
  width: 100%;
  box-sizing: border-box;
  padding-right: 30px;
  margin-left: 25px;
}

/* CATALOG */

.navigation__item_current {
  width: 85px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 17px;

  background-color: #d07058;

  text-decoration: none;
}

.user-navigation__cart-container_active {
  background-color: #f7f6f3;

  color: #434343;
}

h1 {
  font-size: 35px;
  font-weight: 700;
}

.catalog-item__header {
  font-size: 45px;
  font-weight: 700;
}

.catalog-item__kilo {
  font-size: 30px;
}

.catalog-item__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.breadcrumbs__list {
  display: flex;
}

.breadcrumbs__item {
  margin-right: 5px;
}

.catalog {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  width: 350px;
}

/* INTERACTIVE ELEMENTS */
.catalog-list {
  background-color: #f8f7f4;

  border-radius: 5px;
}

li .catalog-item{
  color: #323232;
}

.catalog-item:first-child {
  font-weight: 700;
}
